<%- include('./partials/header') %> 
  <div class="content-container">
    <section class="edit-user-section">
      <div class="goback-link">
        <a href="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" aria-hidden="true">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>  
          Back to page
        </a>
      </div>
      
      
      <div style="text-align: center" class="section-title edit">Edit User</div>
      <div class="edit-form shadow-sm">
        <div class="form-row row mb-3">
          <label class="form-label col-form-label col-4" for="name">Name:</label>
          <div class="col">
            <input class="form-control" type="text" placeholder="Enter name" name="name" id="name" value="<%= user.name %>" required/>
          </div>
        </div>
  
        <div class="form-row row mb-3">
          <label class="form-label col-form-label col-4"  for="email">E-mail address:</label>
          <div class="col">
            <input class="form-control" type="email" placeholder="Enter e-mail address" name="email" id="email" value="<%= user.email %>" required/>
          </div>
        </div>
  
        <div class="form-row row mb-3">
          <label class="form-label col-form-label col-4" for="role">Select role:</label>
          <div class="col">
            <select class="form-select select-role" id="role" name="role" required>
              <% roles.forEach(function(role){ %>
                <% if(role === user.role) { %> 
                  <option value="<%= role%>" selected><%= role%></option>
                <% } else { %>
                  <option value="<%= role%>"><%= role%></option>
                <% } %>
              <% }) %>
            </select>
          </div>
        </div>
  
        <div class="form-row row">
          <div class="col-4">Select status:</div>
          <div class="col align-middle">
            <% if(user.status === 'true') { %>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="enabled" name="status" value="true" checked="true" required>
                <label class="form-check-label" for="enabled">Enabled</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="disabled" name="status" value="false">
                <label class="form-check-label" for="disabled">Disabled</label>
              </div>
            <% } else { %>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="enabled" name="status" value="true" required>
                <label class="form-check-label" for="enabled">Enabled</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="disabled" name="status" value="false" checked="true">
                <label class="form-check-label" for="disabled">Disabled</label>
              </div>
            <% } %>
          </div>
        </div>
        
        <div style="text-align: center">
          <button id="save-btn" class="btn btn-dark">Save</button>
        </div>
      </div>
      
      <div class="confirmation mt-3">
        
      </div>
    </section>

  </div>
    <script src="/edit.js"></script>
  
<%- include('./partials/footer') %> 
