<%- include('./partials/header') %> 
  <div class="content-container">
    <section class="view-users-section">
      <div class="d-flex justify-content-start align-items-center mb-4">
        <div class="section-title d-inline-block me-2">Users</div>
        <button class="badge bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCreateForm" aria-expanded="false" aria-controls="collapseCreateForm">
          + Add
        </button>
      </div>

      <% if(users.length === 0){ %>
        <div class="text-center">No users yet!</div>
      <% } else { %>
        <div class="users-table">
          <table class="table table-bordered table-hover">
            <thead class="table-secondary">
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
              <% users.forEach(function(user){ %>
                <tr tr-id=<%=user._id%>>
                    <td class="col-3"><%= user.name %></td>
                    <td class="col-3"><%= user.email %></td>
                    <td class="col-2"><%= user.role %></td>
                    <td class="col-1"> 
                      <%= user.status === 'true' ? 'Enabled': 'Disabled' %> 
                    </td>
                    <td class="col-2">
                        <input type="button" class="btn btn-light btn-outline-dark btn-sm" onclick="location.href='/users/<%=user._id%>';" value="Edit" />
                        <input type="button" class="btn btn-light btn-outline-dark delete-btn btn-sm" data-id=<%=user._id%> value="Delete" />
                    </td>                       
                </tr>
             <% }); %>
            </tbody>
          </table>
        </div>
      <% } %>

    </section>

    <div class="confirmation mt-3">
    </div>

    <div class="collapse" id="collapseCreateForm">
      <section class="create-user-section">
        <div class="section-title">Create New User</div>
        <form class="create-form shadow-sm" action="/api/users" method="POST">
          <div class="form-row row mb-3">
            <label class="form-label col-form-label col-3" for="name">Name:</label>
            <div class="col">
              <input class="form-control" type="text" placeholder="Enter name" name="name" id="name" required/>
            </div>
          </div>
  
          <div class="form-row row mb-3">
            <label class="form-label col-form-label col-3" for="email">E-mail address:</label>
            <div class="col">
              <input class="form-control" type="email" placeholder="Enter e-mail address" name="email" id="email" required/>
            </div>
          </div>
  
          <div class="form-row row mb-3">
            <label class="form-label col-form-label col-3" for="role">Select role:</label>
            <div class="col">
              <select class="form-select select-role" id="role" name="role" required>
                <option disabled selected value="">Select a role...</option>
                <% roles.forEach(function(role){ %>
                  <option value="<%= role%>"><%= role%></option>
                <% }) %>
              </select>
            </div>
          </div>
  
          <div class="form-row row">
            <div class="col-3">Select status:</div>
            <div class="col align-middle">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="enabled" name="status" value="true" required>
                <label class="form-check-label" for="enabled">Enabled</label><br>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="disabled" name="status" value="false">
                <label class="form-check-label" for="disabled">Disabled</label><br>  
              </div>
            </div>
          </div>
          
          <div>
            <button class="btn btn-dark submit-btn" type="submit">Create</button>
          </div>
        </form>
      </section>
    </div>
  </div>
    
    <script src="/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>

<%- include('./partials/footer') %> 