<%- include('./partials/header') %> 
  <div class="content-container">
    <section class="view-users-section">
      <h4 class="section-title">Users</h4>
      <div class="users-table">
        <table class="table table-bordered table-hover">
          <thead class="table-secondary">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Status</th>
              <th>Action</th>
          </tr>
          </thead>
          <tbody>
            <% users.forEach(function(user){ %>
              <tr tr-id=<%=user._id%>>
                  <td class="col-3"><%= user.name %></td>
                  <td class="col-3"><%= user.email %></td>
                  <td class="col-2"><%= user.role %></td>
                  <td class="col-1"> 
                    <%= user.status === 'true' ? 'Enabled': 'Disabled' %> 
                  </td>
                  <td class="col-2">
                      <input type="button" class="btn btn-light btn-outline-dark btn-sm" onclick="location.href='/users/<%=user._id%>';" value="Edit" />
                      <input type="button" class="btn btn-light btn-outline-dark delete-btn btn-sm" data-id=<%=user._id%> value="Delete" />
                  </td>                       
              </tr>
           <% }); %>
          </tbody>
        </table>
      </div>
    </section>
    <br>
    <section class="create-user-section">
      <h4 class="section-title">Create User</h4>
      <form class="create-form" action="/api/users" method="POST">
        <div class="form-row row mb-3">
          <label class="form-label col-form-label col-4" for="name">Name:</label>
          <div class="col">
            <input class="form-control" type="text" placeholder="Enter name" name="name" id="name" required/>
          </div>
        </div>

        <div class="form-row row mb-3">
          <label class="form-label col-form-label col-4" for="email">E-mail address:</label>
          <div class="col">
            <input class="form-control" type="email" placeholder="Enter e-mail address" name="email" id="email" required/>
          </div>
        </div>

        <div class="form-row row mb-3">
          <label class="form-label col-form-label col-4" for="role">Select role:</label>
          <div class="col">
            <select class="form-select select-role" id="role" name="role" required>
              <option disabled selected value="">Select a role...</option>
              <% roles.forEach(function(role){ %>
                <option value="<%= role%>"><%= role%></option>
              <% }) %>
            </select>
          </div>
          
        </div>

        <div class="form-row row">
          <div class="col-4">Select status:</div>
          <div class="col align-middle">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="enabled" name="status" value="true" required>
              <label class="form-check-label" for="enabled">Enabled</label><br>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="disabled" name="status" value="false">
              <label class="form-check-label" for="disabled">Disabled</label><br>  
            </div>
          </div>
          
        </div>

        <button class="btn btn-dark submit-btn" type="submit">Create user</button>
      </form>
    </section>
    
  </div>
    
    <script src="/main.js"></script>
  </body>
</html>

<%- include('./partials/footer') %> 